.columnForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.addColumn {
  margin: 0 10px
}
form {

}
@media (max-height: 768px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}